html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
}

canvas {
  image-rendering: -moz-crisp-edges;
  /* Firefox */
  image-rendering: -webkit-crisp-edges;
  /* Webkit (Safari) */
  image-rendering: pixelated;
  /* Chrome */

  border-style: solid;
  border-width: thick;
  border-color: black;
}

#nes-canvas {
  width: 512px;
  height: 480px;
}
#pattern-canvas {
  width: 256px;
  height: 128px;
}

#panels {
  margin-top: 16px;

  display: flex;
  flex-direction: row;
}

.panel {
  margin-left: 4px;
  margin-right: 4px;
}
